<div class="container-fluid ">
    <form (ngSubmit)='submitQuote()' #quoteform='ngForm' class="form1">
        <div class="form-group w-50">
            <label for="exampleInputPassword1" id="text">Name</label>
            <input type="text" class="form-control inp" id="name1" placeholder="name" [(ngModel)]='newQuote.name' name="name" #name='ngModel' required>
             <div [hidden]="name.valid || name.pristine" class="alert alert-danger inp">
                  <p>Name is Required</p>
             </div>

          </div>

          <div class="form-group w-50">
              <label for="exampleInputPassword1" id="text">Author</label>
              <input type="text" class="form-control inp" id="exampleInputPassword1" placeholder="Author" [(ngModel)]='newQuote.author' name="author" #author='ngModel' required>
              <div [hidden]="author.valid || author.pristine" class="alert alert-danger inp">
                <p>Author is Required</p>
           </div>

            </div>

        <div class="form-group w-50">
          <label for="exampleInputEmail1" id="text">Quote</label>
          <textarea class="form-control inp" id="exampleFormControlTextarea1" rows="3" [(ngModel)]='newQuote.quotes' name="quotes" #quotes='ngModel'></textarea>
          <div [hidden]="quotes.valid || quotes.pristine" class="alert alert-danger">
            <p>Quote is Required</p>
       </div>
          <small id="text" class="form-text text-muted">enter the quote in this section</small>
        </div>


        <div class="form-group w-50">
          <label for="complete" class="text-center" id="text">Date</label>&nbsp;
          <input type='date' class="form-control inp " [(ngModel)]="newQuote.date" name="date" #date="ngModel" required >
          <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
            <p>Date is required</p>
          </div>
          </div>


        <button type="submit" class="btn btn-primary inp">Post Quote</button>
      </form>
</div>
